<footer class="align-footer">
    <div>
        <p class="footer-copy">&copy; 2023 Movie Recommendations. All rights reserved.</p>
    </div>

    <div class="social-icons">
        <a href="https://facebook.com/" target="_blank" rel="noopener noreferrer"><img src="images/facebook-icon.svg"
                alt="Facebook"></a>
        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer"><img src="images/twitter-icon.svg"
                alt="Twitter"></a>
        <a href="https://instagram.com/" target="_blank" rel="noopener noreferrer"><img src="images/instagram-icon.svg"
                alt="Instagram"></a>
    </div>
</footer>