<header>

    <div class="logo">
        <a href="index.html"><img src="images/logo.svg" alt="Movie Recommendations Logo"></a>
        <p><span>Movie</span> Recommendations</p>
    </div>

    <form class="search-form">
        <input type="text" placeholder="Search movies...">
        <button type="submit">&#x1F50D;</button>
    </form>
    <nav id="nav-bar" class="navigation">
        <ul>
            <li class="nav-links"><a href="index.html">Home</a></li>
            <li class="nav-links"><a href="movies.html">Movies</a></li>
            <li class="nav-links"><a href="favorites.html">Favorites</a></li>
            <li class="nav-links"><a href="about.html">About</a></li>
        </ul>
    </nav>
</header>